<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    >
</head>
<body>
<!--Логаут и чёрная полоска-->
<div class="alert bg-dark text-white" role="alert">
    <strong>
        <td th:text="${user.email}"></td>
    </strong>
    <th> with roles:</th>
    <th th:each="role : ${user.roles}" th:text="${role.value}" style="list-style-type: none"></th>
    <th th:insert="~{Logout::header}"></th>
</div>
<!--Кнопка User-->
<div style="position:fixed; top:63px;">
    <button type="button" class="btn btn-primary text-left" style="width: 210px">Admin</button>
</div>
<div style="position:fixed; top:103px;">
    <form th:action="@{/user}" method="get">
        <button type="submit" class="btn btn-link text-left" style="width: 210px">User</button>
    </form>
</div>
<!--    Лейблы-->
<div class="alert alert-secondary" role="alert"
     style="position: fixed;
     left: 210px;
     top: 50px;
     width: 2000px;
     height: 2000px;
     background-color: #F8F9FA">
</div>
<div style="position: fixed;left: 240px;top: 60px; margin: auto">
    <p class="h1">Admin panel</p>
</div>
<div class="alert alert-secondary" role="alert"
     style="position: fixed;
     left: 240px;
     top: 208px;
     width: 1000px;
     height: 300px;
     background-color: #FFFFFF">
</div>
<!----------------------------------------------------------------------------->
<!--Выпадающий список-->
<div class="container mt-3" style="position: fixed;left: 225px;top: 80px">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">User table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">New User</a>
        </li>
    </ul>

    <!-- Таблица -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="alert alert-secondary" role="alert"
                 style="position: fixed;
     left: 240px;
     top: 160px;
     width: 1000px;
     height: 50px;
     margin: auto;
     background-color: #F7F7F7">
                <p class="h5">All users</p>
            </div>

            <div>
                <table class="table table-striped" style="position: fixed;
                left: 260px;
                top: 230px;
                width: 960px;
                margin: auto;">
                    <tr class="text-center">
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr class="text-center"
                        th:each="user : ${users}">
                        <td th:utext="${user.getId()}"></td>
                        <td th:utext="${user.getFirstName()}"></td>
                        <td th:utext="${user.getLastName()}"></td>
                        <td th:utext="${user.getAge()}"></td>
                        <td th:utext="${user.getEmail()}"></td>
                        <td>
                            <ul>
                                <li th:each="role : ${user.getRoles()}" th:utext="${role.getValue()}"
                                    style="list-style-type: none"></li>
                            </ul>
                        </td>
                        <td>
                            <a type="button" class="btn  btn-info" data-toggle="modal"
                               data-target="#editUser"
                               th:data-target="${'#editUser'+user.getId()}">Edit</a>
                        </td>

                        <td>
                            <a type="button" class="btn  btn-danger" data-toggle="modal"
                               data-target="#DELETE"
                               th:data-target="${'#DELETE'+user.getId()}">Delete</a>
                        </td>
                        <div class="modal fade" th:id="${'DELETE'+user.getId()}"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete
                                            user</h5>
                                        <button type="button" class="btn-close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form class="modal-body col-md text-center"
                                          th:action="@{/admin/{id}(id=${user.getId()})}"
                                          th:method="DELETE">
                                        <div class="modal-body col-md">
                                            <label for="id"><b>ID</b></label>
                                            <input th:name="id" th:type="text" class="form-control"
                                                   id="id" th:value="${user.getId()}" disabled/>
                                            <br>
                                            <label for="name1"><b>firstName</b></label>
                                            <input th:name="name" th:type="text"
                                                   class="form-control"
                                                   id="name1" th:value="${user.getFirstName()}" disabled/>
                                            <br>
                                            <label for="surname1"><b>Last Name</b></label>
                                            <input th:name="surname" th:type="text"
                                                   class="form-control" id="surname1"
                                                   th:value="${user.getLastName()}" disabled/>
                                            <br>
                                            <label for="age1"><b>Age</b></label>
                                            <input th:name="age" th:type="number"
                                                   class="form-control"
                                                   id="age1" th:value="${user.getAge()}" disabled/>
                                            <br>
                                            <label for="email1"><b>Email</b></label>
                                            <input th:name="email" th:type="text"
                                                   class="form-control"
                                                   id="email1" th:value="${user.getEmail()}" disabled/>
                                            <br>
                                            <br>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger">Delete
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
            <!--Вкладка New User-->
        </div>

        <div id="menu1" class="container tab-pane fade"><br>
            <div class="alert alert-secondary" role="alert"
                 style="position: fixed;
                 left: 240px;
                 top: 160px;
                 width: 1000px;
                 height: 50px;
                 margin: auto;
                 background-color: #F7F7F7">
                <p class="h5">New User</p>
            </div>
            <!--Белая-->
            <div class="alert alert-secondary" role="alert"
                 style="position: fixed;
                 left: 240px;
                 top: 208px;
                 width: 1000px;
                 height: 530px;
                 background-color: #FFFFFF">
                <form action="/admin" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <p class="font-weight-bold text-center" for="newFirstName"
                       style="position: fixed; left: 702px; top: 215px">First name</p>
                    <label for="newFirstName"></label><input class="form-control"
                                                             style="position: fixed; left: 600px; top: 240px; width: 300px"
                                                             id="newFirstName" type="text" name="firstName">
                    <p class="font-weight-bold text-center" for="newLastName"
                       style="position: fixed; left: 702px; top: 290px">Last name</p>
                    <label for="newLastName"></label><input class="form-control"
                                                            style="position: fixed; left: 600px; top: 315px; width: 300px"
                                                            id="newLastName" type="text" name="lastName">
                    <p class="font-weight-bold text-center" for="newAge"
                       style="position: fixed; left: 720px; top: 365px">Age</p>
                    <label for="newAge"></label><input class="form-control"
                                                       style="position: fixed; left: 600px; top: 390px; width: 300px"
                                                       id="newAge" type="number" name="age">
                    <p class="font-weight-bold text-center" for="newEmail"
                       style="position: fixed; left: 720px; top: 440px">Email
                        <label for="newEmail"></label><input class="form-control"
                                                             style="position: fixed; left: 600px; top: 465px; width: 300px"
                                                             id="newEmail" type="email" name="email" required>
                    <p class="font-weight-bold text-center" for="newPassword"
                       style="position: fixed; left: 702px; top: 515px">Password</p>
                    <label for="newPassword"></label><input class="form-control"
                                                            style="position: fixed; left: 600px; top: 540px; width: 300px"
                                                            id="newPassword" type="password" name="password">
                    <p class="font-weight-bold text-center" for="newRoles"
                       style="position: fixed; left: 720px; top: 590px">Role</p>
                    <label for="newRoles"></label><select class="form-select"
                                                          style="position: fixed; left: 700px; top: 620px" id="newRoles"
                                                          name="roles" multiple
                                                          th:size="${#sets.size(allRoles)}"
                                                          required>
                    <option th:each="role: ${allRoles}" th:value="${role.id}"
                            th:text="${#strings.substringAfter(role.value, 'ROLE_')}"></option>
                </select>
                    <button type="submit" class="btn btn-success" style="position: fixed; left: 680px; top: 675px">Add
                        new user
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" th:id="${'editUser'+user.getId()}" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/{id}(id=${user.getId()})}"
                      th:object="${user}" th:method="PUT">
                    <div class="modal-body col-md text-center">
                        <br>
                        <label for="id0"><b>ID</b></label>
                        <input th:name="id" th:type="text" class="form-control"
                               id="id0" th:value="${user.id}" disabled/>
                        <br>
                        <label for="firstName"><b>firstName</b></label>
                        <input th:name="firstName" th:type="text"
                               class="form-control" id="firstName"
                               th:value="${user.getFirstName()}"/>
                        <br>
                        <label for="lastName"><b>lastName</b></label>
                        <input th:name="lastName" th:type="text"
                               class="form-control" id="lastName"
                               th:value="${user.getLastName()}"/>
                        <br>
                        <label for="age0"><b>Age</b></label>
                        <input th:name="age" th:type="number"
                               class="form-control" id="age0"
                               th:value="${user.getAge()}"/>
                        <br>
                        <label for="email0"><b>Email</b></label>
                        <input th:name="email" th:type="text"
                               class="form-control" id="email0"
                               th:value="${user.getEmail()}"/>
                        <br>
                        <label for="password0"><b>Password</b></label>
                        <input th:name="password" type="password"
                               class="form-control" id="password0"
                               th:value="${user.getPassword()}"/>
                        <br>
                        <label for="roles"><b>Role</b></label>
                        <select class="form-control" id ="roles"
                                name="roles"
                                multiple="multiple">
                            <option th:each="role : ${allRoles}"
                                    th:selected="${role.getValue()}"
                                    th:value="${role.getId()}"
                                    th:text="${role.getValue()}">Role name
                            </option>
                        </select>
                        <br><br>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" th:id="${'DELETE'+user.getId()}"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete
                    user</h5>
                <button type="button" class="btn-close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body col-md text-center"
                  th:action="@{/admin/{id}(id=${user.getId()})}"
                  th:method="DELETE">
                <div class="modal-body col-md">
                    <label for="id"><b>ID</b></label>
                    <input th:name="id" th:type="text" class="form-control"
                           id="id" th:value="${user.getId()}" disabled/>
                    <br>
                    <label for="name1"><b>firstName</b></label>
                    <input th:name="name" th:type="text"
                           class="form-control"
                           id="name1" th:value="${user.getFirstName()}" disabled/>
                    <br>
                    <label for="surname1"><b>Last Name</b></label>
                    <input th:name="surname" th:type="text"
                           class="form-control" id="surname1"
                           th:value="${user.getLastName()}" disabled/>
                    <br>
                    <label for="age1"><b>Age</b></label>
                    <input th:name="age" th:type="number"
                           class="form-control"
                           id="age1" th:value="${user.getAge()}" disabled/>
                    <br>
                    <label for="email1"><b>Email</b></label>
                    <input th:name="email" th:type="text"
                           class="form-control"
                           id="email1" th:value="${user.getEmail()}" disabled/>
                    <br>
                    <br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-danger">Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!----------------------------------------->
</body>
</html>